<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

<application>
    <service android:name="com.tealium.prism.core.internal.misc.ComponentDiscoveryService"
        android:exported="false">
        <meta-data
            android:name="com.tealium.prism.core.api.modules:com.tealium.prism.extensions.api.SetDataValuesFactory"
            android:value="com.tealium.prism.core.api.ModuleFactory" />
        <meta-data
            android:name="com.tealium.prism.core.api.modules:com.tealium.prism.extensions.api.LowerCaseFactory"
            android:value="com.tealium.prism.core.api.ModuleFactory" />
        <meta-data
            android:name="com.tealium.prism.core.api.modules:com.tealium.prism.extensions.api.PersistDataValueFactory"
            android:value="com.tealium.prism.core.api.ModuleFactory" />
    </service>
</application>

</manifest>
